<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="URL" value="https://bristleconeonline.sharepoint.com/sites/ppmuat/" />
   
    <add key="UserName" value="spdevadmin@bcone.com" />
    <add key="PassWord" value="Tr!umph@123" />
     
    <add key="ServerName" value="10.30.84.4" />
    <add key="DatabaseName" value="Bristlecone_PRD" />
    <add key="DbUserName" value="sa" />
    <add key="DbPassword" value="?$mnA)4%@4y" />
    <add key="RedirectURL" value="https://bristleconeonline.sharepoint.com/sites/ppmuat/SitePages/RRFForm.aspx" />
    <add key="serviceURL" value="https://ppmdev.bcone.com/_api/" />
    <add key="ReleaseRedirectURL" value="https://bristleconeonline.sharepoint.com/sites/ppmuat/SitePages/RequestApprovalPage.aspx" />
    <add key="MyURL" value="https://bristleconeonline.sharepoint.com/RMORevamp/_layouts/15/Doc.aspx?sourcedoc={09e42b36-5d47-4122-9969-2b2d84791ac0}&amp;action=embedview&amp;wdStartOn=1" />
    
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>